 .u-section-1 {
  background-image: url("images/codigo-programacion-resumen-antecedentes-tecnologia-desarrollador-software-script-computadora_34663-31.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 563px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 168px 335px 60px 403px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 235px;
    margin-left: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 125px;
    margin-left: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 35px;
    margin-left: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1376px;
}

.u-section-2 .u-text-1 {
  margin: 9px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 728px;
  }
}